
.img-logo {
    width: 100px;
}

.app-header-items {
    margin: 17px 0px 17px 0px;
    display: flex;
    justify-content: space-between;
   
}


@media (max-width: 363px){
    .app-header-right-side button{
        width: 80px !important;
        height: 20px !important;
        font-size: 10px !important;
    }
}