

@media (max-width: '390px') {
    .register-page{
         width: 90% !important;
        margin: auto !important;
        align-items: center !important;
        justify-content: center !important;

    }
    .photo-upload{
        width: 95% !important;
    }
}